@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&family=Roboto:wght@700;900&display=swap');

.btn{
    background-color: #e20613;
    padding: 0.8rem;
    color: white;
    border: 0px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;  
}