@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&family=Roboto:wght@700;900&display=swap');

.header {
    background-color: rgba(0, 0, 0, 0.521);
    background-blend-mode: multiply;
    width: 100%;
    height: 39rem;
    background-image: url('/public/assets/sfondo.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    color: rgba(255, 255, 255, 0.753);
    padding-top: 1rem;



}

h2 {
    text-align: center;
    margin: 0px;
}

.header>h1 {

    color: #ffffff;
    font-size: 5rem;
    text-align: center;
    margin: 0px;
}

.section1 {
    display: flex;
    flex-wrap: nowrap;
    gap: 9rem;
    align-items: center;
    justify-content: center;
    height: 25rem;

}

.prePage {
    width: 45rem;
    padding: 2rem;
    color: rgb(255, 255, 255);
    float: right;

}

.section1 img {
    width: 25rem;
    transform: rotate(-20deg);
    padding-left: 10rem;
}

/*  tablet */
@media screen and (max-width: 1200px) and (min-width: 712px) {

    .section1 {
        flex-wrap: nowrap;
        gap: 0rem;
    }

    .section1 img {
        width: 20rem;
        padding-left: 0rem;
    }
    .header{
        padding-top: 5rem;
    }


}

/*  mobile */
@media screen and (max-width: 711px) {
    .header {
        height: 40rem;
        flex-wrap: wrap;
        padding-top: 5rem;
        
    }

    .header>h1 {
        font-size: 3rem;
    }

    .prePage {
        width: 90%;
        padding: 1rem;
        margin: 0px;
        float: none;
    }

    .section1 img {
        padding: 0px;
        width: 9rem;
        transform: rotate(333deg);
    }

    .section1 {
        gap: 0rem;
        flex-wrap: wrap;
    }

}