footer {
    background-color: black;
    color: white;
    padding: 2rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 64px);
}

footer div {
    width: 22rem;
}

footer a {
    color: #ff6900;
    text-decoration: none;
    cursor: pointer;

}

.contatti img {
    width: 3rem;
}

.contatti a {
    display: flex;
}

.social img {
    width: 3rem;
}

/* mobile */
@media screen and (max-width:711px) {
    footer {
        gap: 1rem;
        padding: 0rem;
        width: 100%;
    }

}

@media screen and (max-width: 1200px) and (min-width: 712px) {
    footer div {
        width: 17rem;
    }

    footer {
        justify-content: space-between;
        padding: 2rem;
        width: calc(100% - 64px);
    }
}