.concept h1 {
    font-weight: 100;
    font-size: 3rem;
    text-align: start;
    color: black;
    border-bottom: 1px solid red;
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;

}

.imgConcept {
    background-image: url(/public/assets/caviar.png);
    width: 30%;
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;

}

.concept {
    width: 40rem;
    padding: 1rem;

}

/*mobile */
@media screen and (max-width: 711px) {
    .concept h1 {
        font-size: 2rem;
        margin-top: 0rem;
        letter-spacing: 0px;
    }

    .imgConcept {
        width: 90%;
        height: 30rem;
        background-size: cover;

    }

    .section2 {
        gap: 0px;
        height: 60rem;
    }

    .section2 p {
        padding: 0rem;
        margin-bottom: 1rem;
    }
}

/*tablet */
@media screen and (min-width: 712px) and (max-width: 1200px) {
    .imgConcept {
        width: 60%;
    }

    .section2 {
        gap: 0rem;

    }

    h1 {
        margin-top: 0rem;
    }

}